
    <div class="bottom">
        <footer>
            <div class="social-media">
                <a href="https://www.instagram.com/thallapaneni_hemanth"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                <a href="https://twitter.com/hemanthvardhan3?s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCyYyO2I08Nia0MmVfzMW4yw/featured"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              </div>
              <div class="text">Created By Hemanth Thallapaneni</div>
        </footer>
 </div>
