<div style="width: 87%">
  <div class="main">
    <div class="title animate__animated animate__fadeIn">
      <h1>ht photography</h1>
    </div>
    <p class="arrow animate__animated animate__bounce">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </p>
  </div>
  <div class="click" data-aos="fade-right">My Recent Clicks</div>
  <div class="main1">
    <img
      data-aos="fade-right"
      class="animate__fadeIn"
      src="../../../assets/images/st2.jpeg"
      alt=""
    />
    <img data-aos="fade-left" src="../../../assets/images/street.jpeg" alt="" />
    <img data-aos="fade-right" src="../../../assets/images/levi2.jpeg" alt="" />
    <img
      data-aos="fade-left"
      src="../../../assets/images/PicsArt_07-04-07.06.06.jpg"
      alt=""
    />
    <img data-aos="fade-right" src="../../../assets/images/n4.jpg" alt="" />
  </div>
</div>

<app-footer> </app-footer>
